h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
*[text-l] {
  text-align: left;
}
*[text-c] {
  text-align: center;
}
*[text-r] {
  text-align: right;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.public {
  width: 630px;
  margin: 0 auto;
}
.public:before,
.public:after {
  content: "";
  display: block;
}
.public:after {
  clear: both;
}
.public > .row {
  width: 100%;
}
.public > .row:before,
.public > .row:after {
  content: "";
  display: block;
}
.public > .row:after {
  clear: both;
}
.public-fluid {
  width: 100%;
}
.public-fluid:before,
.public-fluid:after {
  content: "";
  display: block;
}
.public-fluid:after {
  clear: both;
}
.public-fluid > .row {
  width: 100%;
}
.public-fluid > .row:before,
.public-fluid > .row:after {
  content: "";
  display: block;
}
.public-fluid > .row:after {
  clear: both;
}
@media screen and (max-width: 730px) {
  .container {
    width: 630px;
    margin: 0 auto;
  }
  .container:before,
  .container:after {
    content: "";
    display: block;
  }
  .container:after {
    clear: both;
  }
  .container > .row {
    width: 100%;
  }
  .container > .row:before,
  .container > .row:after {
    content: "";
    display: block;
  }
  .container > .row:after {
    clear: both;
  }
  .container-fluid {
    width: 100%;
  }
  .container-fluid:before,
  .container-fluid:after {
    content: "";
    display: block;
  }
  .container-fluid:after {
    clear: both;
  }
  .container-fluid > .row {
    width: 100%;
  }
  .container-fluid > .row:before,
  .container-fluid > .row:after {
    content: "";
    display: block;
  }
  .container-fluid > .row:after {
    clear: both;
  }
  .container > .row > .col-s-v {
    display: block;
  }
  .container > .row > .col-s-h {
    display: none;
  }
  .container-fluid > .row > .col-s-v {
    display: block;
  }
  .container-fluid > .row > .col-s-h {
    display: none;
  }
}
.container > .row > .col-s-1 {
  float: left;
  width: 8.33333333%;
}
.container-fluid > .row > .col-s-1 {
  float: left;
  width: 8.33333333%;
}
.container > .row > .col-left-s-1 {
  position: relative;
  left: -8.33333333%;
}
.container > .row > .col-right-s-1 {
  position: relative;
  left: 8.33333333%;
}
.container-fluid > .row > .col-left-s-1 {
  position: relative;
  left: -8.33333333%;
}
.container-fluid > .row > .col-right-s-1 {
  position: relative;
  left: 8.33333333%;
}
.container > .row > .col-s-2 {
  float: left;
  width: 16.66666667%;
}
.container-fluid > .row > .col-s-2 {
  float: left;
  width: 16.66666667%;
}
.container > .row > .col-left-s-2 {
  position: relative;
  left: -16.66666667%;
}
.container > .row > .col-right-s-2 {
  position: relative;
  left: 16.66666667%;
}
.container-fluid > .row > .col-left-s-2 {
  position: relative;
  left: -16.66666667%;
}
.container-fluid > .row > .col-right-s-2 {
  position: relative;
  left: 16.66666667%;
}
.container > .row > .col-s-3 {
  float: left;
  width: 25%;
}
.container-fluid > .row > .col-s-3 {
  float: left;
  width: 25%;
}
.container > .row > .col-left-s-3 {
  position: relative;
  left: -25%;
}
.container > .row > .col-right-s-3 {
  position: relative;
  left: 25%;
}
.container-fluid > .row > .col-left-s-3 {
  position: relative;
  left: -25%;
}
.container-fluid > .row > .col-right-s-3 {
  position: relative;
  left: 25%;
}
.container > .row > .col-s-4 {
  float: left;
  width: 33.33333333%;
}
.container-fluid > .row > .col-s-4 {
  float: left;
  width: 33.33333333%;
}
.container > .row > .col-left-s-4 {
  position: relative;
  left: -33.33333333%;
}
.container > .row > .col-right-s-4 {
  position: relative;
  left: 33.33333333%;
}
.container-fluid > .row > .col-left-s-4 {
  position: relative;
  left: -33.33333333%;
}
.container-fluid > .row > .col-right-s-4 {
  position: relative;
  left: 33.33333333%;
}
.container > .row > .col-s-5 {
  float: left;
  width: 41.66666667%;
}
.container-fluid > .row > .col-s-5 {
  float: left;
  width: 41.66666667%;
}
.container > .row > .col-left-s-5 {
  position: relative;
  left: -41.66666667%;
}
.container > .row > .col-right-s-5 {
  position: relative;
  left: 41.66666667%;
}
.container-fluid > .row > .col-left-s-5 {
  position: relative;
  left: -41.66666667%;
}
.container-fluid > .row > .col-right-s-5 {
  position: relative;
  left: 41.66666667%;
}
.container > .row > .col-s-6 {
  float: left;
  width: 50%;
}
.container-fluid > .row > .col-s-6 {
  float: left;
  width: 50%;
}
.container > .row > .col-left-s-6 {
  position: relative;
  left: -50%;
}
.container > .row > .col-right-s-6 {
  position: relative;
  left: 50%;
}
.container-fluid > .row > .col-left-s-6 {
  position: relative;
  left: -50%;
}
.container-fluid > .row > .col-right-s-6 {
  position: relative;
  left: 50%;
}
.container > .row > .col-s-7 {
  float: left;
  width: 58.33333333%;
}
.container-fluid > .row > .col-s-7 {
  float: left;
  width: 58.33333333%;
}
.container > .row > .col-left-s-7 {
  position: relative;
  left: -58.33333333%;
}
.container > .row > .col-right-s-7 {
  position: relative;
  left: 58.33333333%;
}
.container-fluid > .row > .col-left-s-7 {
  position: relative;
  left: -58.33333333%;
}
.container-fluid > .row > .col-right-s-7 {
  position: relative;
  left: 58.33333333%;
}
.container > .row > .col-s-8 {
  float: left;
  width: 66.66666667%;
}
.container-fluid > .row > .col-s-8 {
  float: left;
  width: 66.66666667%;
}
.container > .row > .col-left-s-8 {
  position: relative;
  left: -66.66666667%;
}
.container > .row > .col-right-s-8 {
  position: relative;
  left: 66.66666667%;
}
.container-fluid > .row > .col-left-s-8 {
  position: relative;
  left: -66.66666667%;
}
.container-fluid > .row > .col-right-s-8 {
  position: relative;
  left: 66.66666667%;
}
.container > .row > .col-s-9 {
  float: left;
  width: 75%;
}
.container-fluid > .row > .col-s-9 {
  float: left;
  width: 75%;
}
.container > .row > .col-left-s-9 {
  position: relative;
  left: -75%;
}
.container > .row > .col-right-s-9 {
  position: relative;
  left: 75%;
}
.container-fluid > .row > .col-left-s-9 {
  position: relative;
  left: -75%;
}
.container-fluid > .row > .col-right-s-9 {
  position: relative;
  left: 75%;
}
.container > .row > .col-s-10 {
  float: left;
  width: 83.33333333%;
}
.container-fluid > .row > .col-s-10 {
  float: left;
  width: 83.33333333%;
}
.container > .row > .col-left-s-10 {
  position: relative;
  left: -83.33333333%;
}
.container > .row > .col-right-s-10 {
  position: relative;
  left: 83.33333333%;
}
.container-fluid > .row > .col-left-s-10 {
  position: relative;
  left: -83.33333333%;
}
.container-fluid > .row > .col-right-s-10 {
  position: relative;
  left: 83.33333333%;
}
.container > .row > .col-s-11 {
  float: left;
  width: 91.66666667%;
}
.container-fluid > .row > .col-s-11 {
  float: left;
  width: 91.66666667%;
}
.container > .row > .col-left-s-11 {
  position: relative;
  left: -91.66666667%;
}
.container > .row > .col-right-s-11 {
  position: relative;
  left: 91.66666667%;
}
.container-fluid > .row > .col-left-s-11 {
  position: relative;
  left: -91.66666667%;
}
.container-fluid > .row > .col-right-s-11 {
  position: relative;
  left: 91.66666667%;
}
.container > .row > .col-s-12 {
  float: left;
  width: 100%;
}
.container-fluid > .row > .col-s-12 {
  float: left;
  width: 100%;
}
.container > .row > .col-left-s-12 {
  position: relative;
  left: -100%;
}
.container > .row > .col-right-s-12 {
  position: relative;
  left: 100%;
}
.container-fluid > .row > .col-left-s-12 {
  position: relative;
  left: -100%;
}
.container-fluid > .row > .col-right-s-12 {
  position: relative;
  left: 100%;
}
@media screen and (min-width: 730px) and (max-width: 1070px) {
  .container {
    width: 630px;
    margin: 0 auto;
    width: 730px;
  }
  .container:before,
  .container:after {
    content: "";
    display: block;
  }
  .container:after {
    clear: both;
  }
  .container > .row {
    width: 100%;
  }
  .container > .row:before,
  .container > .row:after {
    content: "";
    display: block;
  }
  .container > .row:after {
    clear: both;
  }
  .container-fluid {
    width: 100%;
  }
  .container-fluid:before,
  .container-fluid:after {
    content: "";
    display: block;
  }
  .container-fluid:after {
    clear: both;
  }
  .container-fluid > .row {
    width: 100%;
  }
  .container-fluid > .row:before,
  .container-fluid > .row:after {
    content: "";
    display: block;
  }
  .container-fluid > .row:after {
    clear: both;
  }
  .container > .row > .col-m-v {
    display: block;
  }
  .container > .row > .col-m-h {
    display: none;
  }
  .container-fluid > .row > .col-m-v {
    display: block;
  }
  .container-fluid > .row > .col-m-h {
    display: none;
  }
  .container > .row > .col-m-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-m-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-left-m-1 {
    position: relative;
    left: -8.33333333%;
  }
  .container > .row > .col-right-m-1 {
    position: relative;
    left: 8.33333333%;
  }
  .container-fluid > .row > .col-left-m-1 {
    position: relative;
    left: -8.33333333%;
  }
  .container-fluid > .row > .col-right-m-1 {
    position: relative;
    left: 8.33333333%;
  }
  .container > .row > .col-m-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-m-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-left-m-2 {
    position: relative;
    left: -16.66666667%;
  }
  .container > .row > .col-right-m-2 {
    position: relative;
    left: 16.66666667%;
  }
  .container-fluid > .row > .col-left-m-2 {
    position: relative;
    left: -16.66666667%;
  }
  .container-fluid > .row > .col-right-m-2 {
    position: relative;
    left: 16.66666667%;
  }
  .container > .row > .col-m-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-m-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-left-m-3 {
    position: relative;
    left: -25%;
  }
  .container > .row > .col-right-m-3 {
    position: relative;
    left: 25%;
  }
  .container-fluid > .row > .col-left-m-3 {
    position: relative;
    left: -25%;
  }
  .container-fluid > .row > .col-right-m-3 {
    position: relative;
    left: 25%;
  }
  .container > .row > .col-m-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-m-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-left-m-4 {
    position: relative;
    left: -33.33333333%;
  }
  .container > .row > .col-right-m-4 {
    position: relative;
    left: 33.33333333%;
  }
  .container-fluid > .row > .col-left-m-4 {
    position: relative;
    left: -33.33333333%;
  }
  .container-fluid > .row > .col-right-m-4 {
    position: relative;
    left: 33.33333333%;
  }
  .container > .row > .col-m-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-m-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-left-m-5 {
    position: relative;
    left: -41.66666667%;
  }
  .container > .row > .col-right-m-5 {
    position: relative;
    left: 41.66666667%;
  }
  .container-fluid > .row > .col-left-m-5 {
    position: relative;
    left: -41.66666667%;
  }
  .container-fluid > .row > .col-right-m-5 {
    position: relative;
    left: 41.66666667%;
  }
  .container > .row > .col-m-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-m-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-left-m-6 {
    position: relative;
    left: -50%;
  }
  .container > .row > .col-right-m-6 {
    position: relative;
    left: 50%;
  }
  .container-fluid > .row > .col-left-m-6 {
    position: relative;
    left: -50%;
  }
  .container-fluid > .row > .col-right-m-6 {
    position: relative;
    left: 50%;
  }
  .container > .row > .col-m-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-m-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-left-m-7 {
    position: relative;
    left: -58.33333333%;
  }
  .container > .row > .col-right-m-7 {
    position: relative;
    left: 58.33333333%;
  }
  .container-fluid > .row > .col-left-m-7 {
    position: relative;
    left: -58.33333333%;
  }
  .container-fluid > .row > .col-right-m-7 {
    position: relative;
    left: 58.33333333%;
  }
  .container > .row > .col-m-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-m-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-left-m-8 {
    position: relative;
    left: -66.66666667%;
  }
  .container > .row > .col-right-m-8 {
    position: relative;
    left: 66.66666667%;
  }
  .container-fluid > .row > .col-left-m-8 {
    position: relative;
    left: -66.66666667%;
  }
  .container-fluid > .row > .col-right-m-8 {
    position: relative;
    left: 66.66666667%;
  }
  .container > .row > .col-m-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-m-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-left-m-9 {
    position: relative;
    left: -75%;
  }
  .container > .row > .col-right-m-9 {
    position: relative;
    left: 75%;
  }
  .container-fluid > .row > .col-left-m-9 {
    position: relative;
    left: -75%;
  }
  .container-fluid > .row > .col-right-m-9 {
    position: relative;
    left: 75%;
  }
  .container > .row > .col-m-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-m-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-left-m-10 {
    position: relative;
    left: -83.33333333%;
  }
  .container > .row > .col-right-m-10 {
    position: relative;
    left: 83.33333333%;
  }
  .container-fluid > .row > .col-left-m-10 {
    position: relative;
    left: -83.33333333%;
  }
  .container-fluid > .row > .col-right-m-10 {
    position: relative;
    left: 83.33333333%;
  }
  .container > .row > .col-m-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-m-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-left-m-11 {
    position: relative;
    left: -91.66666667%;
  }
  .container > .row > .col-right-m-11 {
    position: relative;
    left: 91.66666667%;
  }
  .container-fluid > .row > .col-left-m-11 {
    position: relative;
    left: -91.66666667%;
  }
  .container-fluid > .row > .col-right-m-11 {
    position: relative;
    left: 91.66666667%;
  }
  .container > .row > .col-m-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-m-12 {
    float: left;
    width: 100%;
  }
  .container > .row > .col-left-m-12 {
    position: relative;
    left: -100%;
  }
  .container > .row > .col-right-m-12 {
    position: relative;
    left: 100%;
  }
  .container-fluid > .row > .col-left-m-12 {
    position: relative;
    left: -100%;
  }
  .container-fluid > .row > .col-right-m-12 {
    position: relative;
    left: 100%;
  }
}
@media screen and (min-width: 1070px) {
  width: 630px;
  margin: 0 auto;
  :before,
  :after {
    content: "";
    display: block;
  }
  :after {
    clear: both;
  }
   > .row {
    width: 100%;
  }
   > .row:before,
   > .row:after {
    content: "";
    display: block;
  }
   > .row:after {
    clear: both;
  }
  -fluid {
    width: 100%;
  }
  -fluid:before,
  -fluid:after {
    content: "";
    display: block;
  }
  -fluid:after {
    clear: both;
  }
  -fluid > .row {
    width: 100%;
  }
  -fluid > .row:before,
  -fluid > .row:after {
    content: "";
    display: block;
  }
  -fluid > .row:after {
    clear: both;
  }
  width: 1070px;
  .container > .row > .col-l-v {
    display: block;
  }
  .container > .row > .col-l-h {
    display: none;
  }
  .container-fluid > .row > .col-l-v {
    display: block;
  }
  .container-fluid > .row > .col-l-h {
    display: none;
  }
  .container > .row > .col-l-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-l-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-left-l-1 {
    position: relative;
    left: -8.33333333%;
  }
  .container > .row > .col-right-l-1 {
    position: relative;
    left: 8.33333333%;
  }
  .container-fluid > .row > .col-left-l-1 {
    position: relative;
    left: -8.33333333%;
  }
  .container-fluid > .row > .col-right-l-1 {
    position: relative;
    left: 8.33333333%;
  }
  .container > .row > .col-l-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-l-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-left-l-2 {
    position: relative;
    left: -16.66666667%;
  }
  .container > .row > .col-right-l-2 {
    position: relative;
    left: 16.66666667%;
  }
  .container-fluid > .row > .col-left-l-2 {
    position: relative;
    left: -16.66666667%;
  }
  .container-fluid > .row > .col-right-l-2 {
    position: relative;
    left: 16.66666667%;
  }
  .container > .row > .col-l-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-l-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-left-l-3 {
    position: relative;
    left: -25%;
  }
  .container > .row > .col-right-l-3 {
    position: relative;
    left: 25%;
  }
  .container-fluid > .row > .col-left-l-3 {
    position: relative;
    left: -25%;
  }
  .container-fluid > .row > .col-right-l-3 {
    position: relative;
    left: 25%;
  }
  .container > .row > .col-l-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-l-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-left-l-4 {
    position: relative;
    left: -33.33333333%;
  }
  .container > .row > .col-right-l-4 {
    position: relative;
    left: 33.33333333%;
  }
  .container-fluid > .row > .col-left-l-4 {
    position: relative;
    left: -33.33333333%;
  }
  .container-fluid > .row > .col-right-l-4 {
    position: relative;
    left: 33.33333333%;
  }
  .container > .row > .col-l-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-l-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-left-l-5 {
    position: relative;
    left: -41.66666667%;
  }
  .container > .row > .col-right-l-5 {
    position: relative;
    left: 41.66666667%;
  }
  .container-fluid > .row > .col-left-l-5 {
    position: relative;
    left: -41.66666667%;
  }
  .container-fluid > .row > .col-right-l-5 {
    position: relative;
    left: 41.66666667%;
  }
  .container > .row > .col-l-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-l-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-left-l-6 {
    position: relative;
    left: -50%;
  }
  .container > .row > .col-right-l-6 {
    position: relative;
    left: 50%;
  }
  .container-fluid > .row > .col-left-l-6 {
    position: relative;
    left: -50%;
  }
  .container-fluid > .row > .col-right-l-6 {
    position: relative;
    left: 50%;
  }
  .container > .row > .col-l-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-l-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-left-l-7 {
    position: relative;
    left: -58.33333333%;
  }
  .container > .row > .col-right-l-7 {
    position: relative;
    left: 58.33333333%;
  }
  .container-fluid > .row > .col-left-l-7 {
    position: relative;
    left: -58.33333333%;
  }
  .container-fluid > .row > .col-right-l-7 {
    position: relative;
    left: 58.33333333%;
  }
  .container > .row > .col-l-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-l-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-left-l-8 {
    position: relative;
    left: -66.66666667%;
  }
  .container > .row > .col-right-l-8 {
    position: relative;
    left: 66.66666667%;
  }
  .container-fluid > .row > .col-left-l-8 {
    position: relative;
    left: -66.66666667%;
  }
  .container-fluid > .row > .col-right-l-8 {
    position: relative;
    left: 66.66666667%;
  }
  .container > .row > .col-l-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-l-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-left-l-9 {
    position: relative;
    left: -75%;
  }
  .container > .row > .col-right-l-9 {
    position: relative;
    left: 75%;
  }
  .container-fluid > .row > .col-left-l-9 {
    position: relative;
    left: -75%;
  }
  .container-fluid > .row > .col-right-l-9 {
    position: relative;
    left: 75%;
  }
  .container > .row > .col-l-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-l-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-left-l-10 {
    position: relative;
    left: -83.33333333%;
  }
  .container > .row > .col-right-l-10 {
    position: relative;
    left: 83.33333333%;
  }
  .container-fluid > .row > .col-left-l-10 {
    position: relative;
    left: -83.33333333%;
  }
  .container-fluid > .row > .col-right-l-10 {
    position: relative;
    left: 83.33333333%;
  }
  .container > .row > .col-l-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-l-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-left-l-11 {
    position: relative;
    left: -91.66666667%;
  }
  .container > .row > .col-right-l-11 {
    position: relative;
    left: 91.66666667%;
  }
  .container-fluid > .row > .col-left-l-11 {
    position: relative;
    left: -91.66666667%;
  }
  .container-fluid > .row > .col-right-l-11 {
    position: relative;
    left: 91.66666667%;
  }
  .container > .row > .col-l-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-l-12 {
    float: left;
    width: 100%;
  }
  .container > .row > .col-left-l-12 {
    position: relative;
    left: -100%;
  }
  .container > .row > .col-right-l-12 {
    position: relative;
    left: 100%;
  }
  .container-fluid > .row > .col-left-l-12 {
    position: relative;
    left: -100%;
  }
  .container-fluid > .row > .col-right-l-12 {
    position: relative;
    left: 100%;
  }
}
